<li><a href="#">{{selected}} <i class="pe-7s-angle-down"></i></a>
    <ul>
        {{#each-in languages as |langKey langNames|}}
            <li><a href="#" {{action "setSelection" langKey on="click"}}>{{get langNames "fullName"}}</a></li>
        {{/each-in}}
    </ul>
</li>
