<li><a href="#">{{selected}} <i class="pe-7s-angle-down"></i></a>
    <ul>
        {{#each-in languages as |langKey langName|}}
            <li><a href="#" {{action "setSelection" langKey on="click"}}>{{langName}}</a></li>
        {{/each-in}}
    </ul>
</li>
