{{#if (not (eq buttons.length 1))}}
    {{#each buttons as |button|}}
        <a href="#" class="page-button {{if (eq button.page page) "active"}}" {{action "goToPage" button.page}}>{{button.name}}</a>
    {{/each}}
{{/if}}
