<div class="widget catagory mb-50">
    <h6 class="widget-title mb-30">Catagories</h6>
    <div class="catagories-menu">
        <ul>
            {{#each this.categories as |category|}}
                <li><a href="#" {{action "selectCategory" category.id on="click"}}>{{category.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>

