input[type=radio] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0;
}
.product-details .quantity-cart .add-to-cart {
    float: left;
}

.product-details .quantity-cart .already-in-cart {
    margin-left: 10px;
    display: inline-block;
    height: 40px;
    padding-top: 10px;
}
.validation-field {
    position: relative;
}
.validation-field .validation-error {
    border: 2px solid red !important;
}
.validation-field .error-message {
    background-color: red;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    right: 0;
}
input.disabled, input.disabled:hover,
a.disabled, a.disabled:hover {
    color: #d7d8d9;
    background-color: #979999;
    cursor: default;
}
div.notification-container>div {
    max-width: 700px;
}
.notification-message {
    font-size: 16px;
}
.notification-message div:first-child i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}
.notification-message div:nth-child(2) {
    margin: 5px 5px 5px 0;
}
.hidden {
    display: none!important;
}
.main-menu {
    margin-top: 35px;
}
.main-menu ul li {
    padding: 0;
}
.mobile-menu .meanmenu-reveal,
.mobile-menu .mean-expand {
    text-align: center;
    font-size: 18px;
}
.mobile-menu ul {
    display: none;
}
.user > a {
    padding-left: 20px;
}

@media (max-width: 1050px) {
    .shopping-cart.ml-20 {
        margin-left: 10px;
    }
}
