input[type=radio] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0;
}
.product-details .quantity-cart .add-to-cart {
    float: left;
}

.product-details .quantity-cart .already-in-cart {
    margin-left: 10px;
    display: inline-block;
    height: 40px;
    padding-top: 10px;
}
.validation-field {
    position: relative;
}
.validation-field .validation-error {
    border: 2px solid red !important;
}
.validation-field .error-message {
    background-color: red;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    right: 0;
}
input.disabled, input.disabled:hover,
a.disabled, a.disabled:hover {
    color: #d7d8d9;
    background-color: #979999;
    cursor: default;
}
div.notification-container>div {
    max-width: 700px;
}
.notification-message {
    font-size: 16px;
}
.notification-message div:first-child i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}
.notification-message div:nth-child(2) {
    margin: 5px 5px 5px 0;
}
.hidden {
    display: none!important;
}
.main-menu {
    margin-top: 35px;
}
.main-menu ul li {
    padding: 0;
}
.mobile-menu .meanmenu-reveal,
.mobile-menu .mean-expand {
    text-align: center;
    font-size: 18px;
}
.mobile-menu ul {
    display: none;
}
.user > a {
    padding-left: 20px;
}
.pagination-block{
    text-align: center;
}
.pagination-block .page-button {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    margin: 1px;
    /*border: 1px solid black;*/
    border-radius: 15px;
    text-align: center;
}
.pagination-block .page-button:not(.active) {
    cursor: pointer;
    /*text-decoration: underline;*/
    /*color: blue;*/
}
.pagination-block .page-button.active {
    background-color: #8080805e;
    /*text-decoration: underline;*/
}
#loginModal .button-link {
    display: inline-block;
    float: right;
    margin-top: 18px;
    text-decoration: underline;
    text-transform: uppercase;
}
#loginModal input::placeholder {
    color: #CECECE;
}
#loginModal input:focus::placeholder{
    color:transparent;
}
.modal {
    z-index: 1050;
}
.language-menu ul li,
.user ul li {
    display: inline-block;
    margin-left: 30px;
    padding: 35px 0;
    position: relative;
}
.language-menu ul li ul,
.user ul li ul {
    background: #333 none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    right: 0;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 70%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100px;
    z-index: 999;
}
.user ul li ul {
    top: 100%;
}
.language-menu ul li:hover > ul,
.user ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.language-menu ul li a,
.user ul li a {
    color: #303030;
    font-family: "Karla", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}
.language-menu ul li ul li:first-child,
.user ul li ul li:first-child {
    border-top: medium none;
}
.language-menu ul li ul li,
.user ul li ul li {
    background: #333 none repeat scroll 0 0;
    border-top: 1px solid #444;
    display: block;
    margin: 0;
    padding: 0 2px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.language-menu ul li ul li a,
.user ul li ul li a {
    color: #fff;
    display: block;
    padding: 7px 0;
    text-transform: capitalize;
}
.user ul#user-menu a > i {
    font-size: 25px;
    padding: 0;
}
.user ul#user-menu > li {
    padding-bottom: 0;
}

.mean-container .mean-bar {
    z-index: 1000;
}

@media (max-width: 1050px) {
    #user-menu > li,
    .shopping-cart.ml-20 {
        margin-left: 10px;
    }
}

#admin-categories-list table {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}
