<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    {{#each categories as |category|}}
        <tr>
            <td>{{category.id}}</td>
            <td><LinkTo @route="admin.categories.category" @model={{category.id}}>{{translate category "name"}}</LinkTo></td>
        </tr>
    {{/each}}
    </tbody>
</table>
