{{#if error}}
    <div class="error-message">{{error}}</div>
{{/if}}
{{input
        type="text"
        placeholder=""
        name="customerName"
        value=value
        class=inputClasses
        focus-out=(action "onChange")
}}

