<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="cart-title mt-50">
                <h2>{{t 'cart.title'}}</h2>
            </div>

            <div class="cart-table clearfix">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each cart.products as |cartProduct|}}
                        {{#let (component 'cart/cart-product') as |CartProduct|}}
                            <CartProduct @cartProduct={{cartProduct}} />
                        {{/let}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="cart-summary">
                <h5>Cart Total</h5>
                <ul class="summary-table">
                    <li><span>total:</span> <span>{{hryvna-price totalSum}}</span></li>
                </ul>
                <div class="cart-btn mt-100">
                    <a href="cart.html" class="btn amado-btn w-100">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
